{% extends "main.html" %}
{% block content %}
<section class="pb-5 header text-center">
    <div class="container py-2 text-black">
        <header class="py-5">
            <h1 class="display-4">Bidding</h1>
            <p class="font-italic mb-1">Prototype</p>
        </header>


        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="card border-0 shadow">
                    <div class="card-body p-5">

                        <!-- Responsive table -->
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Crop</th>
                                        <th scope="col">Final Date</th>
                                        <!--<th scope="col">Last bidder</th>-->
                                        <th scope="col">Last bid amount</th>
                                        <th scope="col">Your bid</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                	{% for x in account %}
                                    <tr>
                                        <th scope="row">{{ loop.index }}</th>
                                        <td>{{ x['crop_name'] }}</td>
                                        <td>{{ x['time_left'] }}</td>
                                        <!--<td>{{ x['last_bidder'] }}</td>-->
                                        <td>{{ x['last_bid_amount'] }}</td>
                                        <td>
                                        	<form method="post">
                                                {% if datee > x['time_left'] %}
                                                <input type="number" id="bid" name="bid" disabled = disabled>
                                                {% else %}
								                 <input type="number" id="bid" name="bid">
                                                 {% endif %}
								                 <input type = "hidden" id="bid_id" name = "bid_id" value = "{{ x['bidding_id'] }}">
                                        </td>
                                        <td>
                                            <!-- Call to action buttons -->
                                            <ul class="list-inline m-0">
                                                <li class="list-inline-item">
                                                    <button class="btn btn-primary btn-sm rounded-0" data-toggle="tooltip" data-placement="top" type = "submit" title="Bid"><i class="fa fa-table"></i>
                                                    </button>
                                                </li>                                          
                                            </ul>
                                        </td>
                                        </form>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}