{% extends "main.html" %}
{% block content %}
<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                    </div>
            		<nav class="side-menu">
        			</nav>
                </div>
                <div class="content-panel">
                    <h2 class="title">Consumer</h2>
                    <form class="form-horizontal" method = "post">
                        <fieldset class="fieldset">
                            <h3 class="fieldset-title">Demand Crop</h3>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Crop</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <select id = "crop" name = "crop" class="form-control" value="">
                                        <option value="cabbage">Cabbage</option>
                                        <option value="raddish">Raddish</option>
                                        <option value="tomato">Tomato</option>
                                        <option value="cauliflower">Cauliflower</option>
                                    </select>
                                </div>
                            </div>
        
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Quantity</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" name ="quantity" class="form-control" value="">
                                </div>
                            </div>

                        </fieldset>
                        <div class="form-group">
                            <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                                <input class="btn btn-primary" type="submit" value="Demand">
                            </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}